In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import os
import datetime
from functools import partial

In [2]:
df=pd.read_csv("TCS.csv")
df

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,TCS,EQ,15-May-2017,2360.65,2375.10,2377.95,2341.60,2368.00,2365.10,2352.60,908802,2.138043e+09,30047,712450,78.39
1,TCS,EQ,16-May-2017,2365.10,2380.00,2435.00,2373.45,2425.10,2429.15,2410.26,1800513,4.339703e+09,58476,1167534,64.84
2,TCS,EQ,17-May-2017,2429.15,2433.50,2460.75,2423.00,2450.00,2455.35,2443.31,1438099,3.513729e+09,86412,1031752,71.74
3,TCS,EQ,18-May-2017,2455.35,2450.00,2572.00,2442.25,2525.00,2536.20,2525.78,2569297,6.489478e+09,111566,1135613,44.20
4,TCS,EQ,19-May-2017,2536.20,2536.20,2540.55,2486.00,2503.85,2507.15,2506.58,893022,2.238430e+09,63112,517461,57.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493,TCS,EQ,07-May-2019,2157.85,2160.05,2184.35,2138.80,2154.00,2151.95,2163.53,2201698,4.763441e+09,86096,975603,44.31
494,TCS,EQ,08-May-2019,2151.95,2151.00,2168.00,2130.40,2156.00,2152.85,2151.85,1824895,3.926902e+09,77713,781526,42.83
495,TCS,EQ,09-May-2019,2152.85,2145.00,2184.10,2136.10,2171.20,2172.55,2166.98,2264162,4.906405e+09,106297,1251459,55.27
496,TCS,EQ,10-May-2019,2172.55,2175.00,2192.00,2125.85,2130.25,2135.80,2161.83,2039633,4.409349e+09,85446,873181,42.81
497,TCS,EQ,13-May-2019,2135.80,2133.00,2167.00,2121.65,2134.00,2128.75,2143.87,1701744,3.648325e+09,74014,677242,39.80

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 498 entries, 0 to 497
Data columns (total 15 columns):
Symbol                    498 non-null object
Series                    498 non-null object
Date                      498 non-null object
Prev Close                498 non-null float64
Open Price                498 non-null float64
High Price                498 non-null float64
Low Price                 498 non-null float64
Last Price                498 non-null float64
Close Price               498 non-null float64
Average Price             498 non-null float64
Total Traded Quantity     498 non-null int64
Turnover                  498 non-null float64
No. of Trades             498 non-null int64
Deliverable Qty           498 non-null int64
% Dly Qt to Traded Qty    498 non-null float64
dtypes: float64(9), int64(3), object(3)
memory usage: 58.5+ KB

In [4]:
df=df[df['Series']=='EQ']
df

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,TCS,EQ,15-May-2017,2360.65,2375.10,2377.95,2341.60,2368.00,2365.10,2352.60,908802,2.138043e+09,30047,712450,78.39
1,TCS,EQ,16-May-2017,2365.10,2380.00,2435.00,2373.45,2425.10,2429.15,2410.26,1800513,4.339703e+09,58476,1167534,64.84
2,TCS,EQ,17-May-2017,2429.15,2433.50,2460.75,2423.00,2450.00,2455.35,2443.31,1438099,3.513729e+09,86412,1031752,71.74
3,TCS,EQ,18-May-2017,2455.35,2450.00,2572.00,2442.25,2525.00,2536.20,2525.78,2569297,6.489478e+09,111566,1135613,44.20
4,TCS,EQ,19-May-2017,2536.20,2536.20,2540.55,2486.00,2503.85,2507.15,2506.58,893022,2.238430e+09,63112,517461,57.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493,TCS,EQ,07-May-2019,2157.85,2160.05,2184.35,2138.80,2154.00,2151.95,2163.53,2201698,4.763441e+09,86096,975603,44.31
494,TCS,EQ,08-May-2019,2151.95,2151.00,2168.00,2130.40,2156.00,2152.85,2151.85,1824895,3.926902e+09,77713,781526,42.83
495,TCS,EQ,09-May-2019,2152.85,2145.00,2184.10,2136.10,2171.20,2172.55,2166.98,2264162,4.906405e+09,106297,1251459,55.27
496,TCS,EQ,10-May-2019,2172.55,2175.00,2192.00,2125.85,2130.25,2135.80,2161.83,2039633,4.409349e+09,85446,873181,42.81
497,TCS,EQ,13-May-2019,2135.80,2133.00,2167.00,2121.65,2134.00,2128.75,2143.87,1701744,3.648325e+09,74014,677242,39.80

In [5]:
df.describe()

,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
count,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,4.940000e+02,4.940000e+02,494.000000,4.940000e+02,494.000000
mean,2387.748684,2386.112146,2412.039575,2362.413866,2386.900911,2387.279251,2387.545040,2.154751e+06,4.914692e+09,95827.566802,1.183271e+06,56.849312
std,463.565049,461.347984,470.430776,457.931108,463.288365,463.709942,464.726731,2.579232e+06,6.651663e+09,57134.390316,1.600605e+06,12.114263
min,1721.600000,1723.000000,1734.900000,1711.150000,1723.000000,1721.600000,1725.850000,4.341100e+04,1.120856e+08,2351.000000,1.386900e+04,21.480000
25%,1987.912500,1989.475000,2005.500000,1973.250000,1988.887500,1987.912500,1988.825000,9.365380e+05,2.444368e+09,51852.750000,5.490995e+05,48.020000
50%,2398.575000,2396.925000,2433.000000,2377.650000,2398.100000,2398.575000,2402.990000,1.696750e+06,3.959611e+09,86986.500000,9.150305e+05,56.750000
75%,2638.237500,2635.750000,2669.450000,2619.787500,2638.000000,2638.237500,2641.310000,2.622279e+06,5.725864e+09,125993.250000,1.465679e+06,66.310000
max,3603.700000,3625.000000,3674.800000,3572.550000,3610.750000,3603.700000,3633.110000,4.403358e+07,1.268362e+11,482657.000000,3.155626e+07,85.180000

In [6]:
df.tail(20)

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
478,TCS,EQ,10-Apr-2019,2091.50,2083.00,2085.50,2036.00,2043.65,2040.25,2053.91,3313062,6.804718e+09,168190,1821699,54.99
479,TCS,EQ,11-Apr-2019,2040.25,2045.00,2055.00,2013.65,2025.00,2019.50,2028.47,3422442,6.942309e+09,133153,1568180,45.82
480,TCS,EQ,12-Apr-2019,2019.50,2038.00,2039.00,2007.00,2013.05,2014.50,2019.97,3198471,6.460808e+09,126989,1040440,32.53
481,TCS,EQ,15-Apr-2019,2014.50,2070.00,2119.80,2041.00,2113.00,2113.30,2086.02,9189201,1.916886e+10,282918,3402175,37.02
482,TCS,EQ,16-Apr-2019,2113.30,2120.00,2155.95,2115.55,2137.00,2131.80,2137.54,5771952,1.233776e+10,222230,2514452,43.56
483,TCS,EQ,18-Apr-2019,2131.80,2149.90,2155.00,2114.20,2149.25,2150.05,2138.81,3413728,7.301312e+09,159168,1564757,45.84
484,TCS,EQ,22-Apr-2019,2150.05,2148.00,2176.00,2145.60,2160.30,2161.45,2165.74,2007135,4.346926e+09,79881,717594,35.75
485,TCS,EQ,23-Apr-2019,2161.45,2163.00,2165.50,2134.05,2163.00,2155.05,2147.21,2163524,4.645534e+09,88782,970246,44.85
486,TCS,EQ,24-Apr-2019,2155.05,2158.00,2195.00,2156.10,2168.60,2183.45,2172.32,3003071,6.523622e+09,128669,1718919,57.24
487,TCS,EQ,25-Apr-2019,2183.45,2175.00,2205.00,2168.05,2203.00,2195.00,2189.55,4211526,9.221344e+09,108403,2971130,70.55
488,TCS,EQ,26-Apr-2019,2195.00,2203.00,2243.95,2193.15,2231.10,2238.55,2225.36,2716958,6.046198e+09,110079,1175323,43.26
489,TCS,EQ,30-Apr-2019,2238.55,2238.55,2266.95,2230.10,2256.25,2260.35,2252.48,3488395,7.857545e+09,135194,2026970,58.11
490,TCS,EQ,02-May-2019,2260.35,2255.00,2259.40,2211.10,2214.70,2215.40,2227.88,2457699,5.475449e+09,106215,1064368,43.31
491,TCS,EQ,03-May-2019,2215.40,2185.00,2186.05,2125.00,2137.00,2132.00,2153.00,3780886,8.140257e+09,188561,1641641,43.42
492,TCS,EQ,06-May-2019,2132.00,2110.00,2165.00,2108.50,2155.20,2157.85,2150.11,2891422,6.216881e+09,109314,1224571,42.35
493,TCS,EQ,07-May-2019,2157.85,2160.05,2184.35,2138.80,2154.00,2151.95,2163.53,2201698,4.763441e+09,86096,975603,44.31
494,TCS,EQ,08-May-2019,2151.95,2151.00,2168.00,2130.40,2156.00,2152.85,2151.85,1824895,3.926902e+09,77713,781526,42.83
495,TCS,EQ,09-May-2019,2152.85,2145.00,2184.10,2136.10,2171.20,2172.55,2166.98,2264162,4.906405e+09,106297,1251459,55.27
496,TCS,EQ,10-May-2019,2172.55,2175.00,2192.00,2125.85,2130.25,2135.80,2161.83,2039633,4.409349e+09,85446,873181,42.81
497,TCS,EQ,13-May-2019,2135.80,2133.00,2167.00,2121.65,2134.00,2128.75,2143.87,1701744,3.648325e+09,74014,677242,39.80

In [7]:
Data=df.tail(90)
Data

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
404,TCS,EQ,31-Dec-2018,1896.05,1908.00,1909.00,1886.15,1894.75,1893.05,1896.42,1879740,3.564772e+09,66284,1025862,54.57
405,TCS,EQ,01-Jan-2019,1893.05,1896.00,1910.00,1885.00,1905.90,1902.80,1899.78,1094883,2.080034e+09,32636,489139,44.68
406,TCS,EQ,02-Jan-2019,1902.80,1905.00,1934.45,1900.00,1919.00,1923.30,1922.90,2100463,4.038986e+09,85488,664045,31.61
407,TCS,EQ,03-Jan-2019,1923.30,1919.00,1944.95,1893.10,1901.00,1899.95,1916.85,2611668,5.006178e+09,144072,1250117,47.87
408,TCS,EQ,04-Jan-2019,1899.95,1900.00,1901.20,1841.00,1882.00,1876.85,1869.19,4280862,8.001742e+09,208198,1657983,38.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493,TCS,EQ,07-May-2019,2157.85,2160.05,2184.35,2138.80,2154.00,2151.95,2163.53,2201698,4.763441e+09,86096,975603,44.31
494,TCS,EQ,08-May-2019,2151.95,2151.00,2168.00,2130.40,2156.00,2152.85,2151.85,1824895,3.926902e+09,77713,781526,42.83
495,TCS,EQ,09-May-2019,2152.85,2145.00,2184.10,2136.10,2171.20,2172.55,2166.98,2264162,4.906405e+09,106297,1251459,55.27
496,TCS,EQ,10-May-2019,2172.55,2175.00,2192.00,2125.85,2130.25,2135.80,2161.83,2039633,4.409349e+09,85446,873181,42.81
497,TCS,EQ,13-May-2019,2135.80,2133.00,2167.00,2121.65,2134.00,2128.75,2143.87,1701744,3.648325e+09,74014,677242,39.80

In [8]:
Data['Close Price'].min()

1813.25

In [9]:
Data['Close Price'].max()

2260.35

In [10]:
Data['Close Price'].mean()

2015.4722222222215

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 494 entries, 0 to 497
Data columns (total 15 columns):
Symbol                    494 non-null object
Series                    494 non-null object
Date                      494 non-null object
Prev Close                494 non-null float64
Open Price                494 non-null float64
High Price                494 non-null float64
Low Price                 494 non-null float64
Last Price                494 non-null float64
Close Price               494 non-null float64
Average Price             494 non-null float64
Total Traded Quantity     494 non-null int64
Turnover                  494 non-null float64
No. of Trades             494 non-null int64
Deliverable Qty           494 non-null int64
% Dly Qt to Traded Qty    494 non-null float64
dtypes: float64(9), int64(3), object(3)
memory usage: 61.8+ KB

In [12]:
df['Date']=df['Date'].astype('datetime64')

In [13]:
df['Date']

0     2017-05-15
1     2017-05-16
2     2017-05-17
3     2017-05-18
4     2017-05-19
         ...
493   2019-05-07
494   2019-05-08
495   2019-05-09
496   2019-05-10
497   2019-05-13
Name: Date, Length: 494, dtype: datetime64[ns]

In [14]:
df.head(10)

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,TCS,EQ,2017-05-15,2360.65,2375.1,2377.95,2341.60,2368.00,2365.10,2352.60,908802,2.138043e+09,30047,712450,78.39
1,TCS,EQ,2017-05-16,2365.10,2380.0,2435.00,2373.45,2425.10,2429.15,2410.26,1800513,4.339703e+09,58476,1167534,64.84
2,TCS,EQ,2017-05-17,2429.15,2433.5,2460.75,2423.00,2450.00,2455.35,2443.31,1438099,3.513729e+09,86412,1031752,71.74
3,TCS,EQ,2017-05-18,2455.35,2450.0,2572.00,2442.25,2525.00,2536.20,2525.78,2569297,6.489478e+09,111566,1135613,44.20
4,TCS,EQ,2017-05-19,2536.20,2536.2,2540.55,2486.00,2503.85,2507.15,2506.58,893022,2.238430e+09,63112,517461,57.94
5,TCS,EQ,2017-05-22,2507.15,2510.0,2553.75,2510.00,2535.00,2531.35,2530.69,831970,2.105461e+09,53261,509741,61.27
6,TCS,EQ,2017-05-23,2531.35,2533.2,2564.15,2514.00,2523.70,2521.70,2530.49,1374298,3.477645e+09,88749,995551,72.44
7,TCS,EQ,2017-05-24,2521.70,2534.8,2570.00,2529.65,2567.10,2559.15,2545.01,1267274,3.225228e+09,58716,918505,72.48
8,TCS,EQ,2017-05-25,2559.15,2577.0,2637.55,2568.00,2615.05,2624.60,2605.40,2047047,5.333377e+09,87147,1180439,57.67
9,TCS,EQ,2017-05-26,2624.60,2625.0,2626.85,2564.65,2570.05,2578.25,2593.00,681275,1.766543e+09,32170,390827,57.37

In [15]:
data = pd.to_datetime(df['Date'])

(data.max())-(data.min())

Timedelta('728 days 00:00:00')

In [16]:
df['Year'] = pd.DatetimeIndex(df['Date']).year
df

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Year
0,TCS,EQ,2017-05-15,2360.65,2375.10,2377.95,2341.60,2368.00,2365.10,2352.60,908802,2.138043e+09,30047,712450,78.39,2017
1,TCS,EQ,2017-05-16,2365.10,2380.00,2435.00,2373.45,2425.10,2429.15,2410.26,1800513,4.339703e+09,58476,1167534,64.84,2017
2,TCS,EQ,2017-05-17,2429.15,2433.50,2460.75,2423.00,2450.00,2455.35,2443.31,1438099,3.513729e+09,86412,1031752,71.74,2017
3,TCS,EQ,2017-05-18,2455.35,2450.00,2572.00,2442.25,2525.00,2536.20,2525.78,2569297,6.489478e+09,111566,1135613,44.20,2017
4,TCS,EQ,2017-05-19,2536.20,2536.20,2540.55,2486.00,2503.85,2507.15,2506.58,893022,2.238430e+09,63112,517461,57.94,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493,TCS,EQ,2019-05-07,2157.85,2160.05,2184.35,2138.80,2154.00,2151.95,2163.53,2201698,4.763441e+09,86096,975603,44.31,2019
494,TCS,EQ,2019-05-08,2151.95,2151.00,2168.00,2130.40,2156.00,2152.85,2151.85,1824895,3.926902e+09,77713,781526,42.83,2019
495,TCS,EQ,2019-05-09,2152.85,2145.00,2184.10,2136.10,2171.20,2172.55,2166.98,2264162,4.906405e+09,106297,1251459,55.27,2019
496,TCS,EQ,2019-05-10,2172.55,2175.00,2192.00,2125.85,2130.25,2135.80,2161.83,2039633,4.409349e+09,85446,873181,42.81,2019
497,TCS,EQ,2019-05-13,2135.80,2133.00,2167.00,2121.65,2134.00,2128.75,2143.87,1701744,3.648325e+09,74014,677242,39.80,2019

In [17]:
df['Month'] = pd.DatetimeIndex(df['Date']).month
df

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Year,Month
0,TCS,EQ,2017-05-15,2360.65,2375.10,2377.95,2341.60,2368.00,2365.10,2352.60,908802,2.138043e+09,30047,712450,78.39,2017,5
1,TCS,EQ,2017-05-16,2365.10,2380.00,2435.00,2373.45,2425.10,2429.15,2410.26,1800513,4.339703e+09,58476,1167534,64.84,2017,5
2,TCS,EQ,2017-05-17,2429.15,2433.50,2460.75,2423.00,2450.00,2455.35,2443.31,1438099,3.513729e+09,86412,1031752,71.74,2017,5
3,TCS,EQ,2017-05-18,2455.35,2450.00,2572.00,2442.25,2525.00,2536.20,2525.78,2569297,6.489478e+09,111566,1135613,44.20,2017,5
4,TCS,EQ,2017-05-19,2536.20,2536.20,2540.55,2486.00,2503.85,2507.15,2506.58,893022,2.238430e+09,63112,517461,57.94,2017,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493,TCS,EQ,2019-05-07,2157.85,2160.05,2184.35,2138.80,2154.00,2151.95,2163.53,2201698,4.763441e+09,86096,975603,44.31,2019,5
494,TCS,EQ,2019-05-08,2151.95,2151.00,2168.00,2130.40,2156.00,2152.85,2151.85,1824895,3.926902e+09,77713,781526,42.83,2019,5
495,TCS,EQ,2019-05-09,2152.85,2145.00,2184.10,2136.10,2171.20,2172.55,2166.98,2264162,4.906405e+09,106297,1251459,55.27,2019,5
496,TCS,EQ,2019-05-10,2172.55,2175.00,2192.00,2125.85,2130.25,2135.80,2161.83,2039633,4.409349e+09,85446,873181,42.81,2019,5
497,TCS,EQ,2019-05-13,2135.80,2133.00,2167.00,2121.65,2134.00,2128.75,2143.87,1701744,3.648325e+09,74014,677242,39.80,2019,5

In [18]:
df['VWAP'] = (df['Close Price'] * df['Total Traded Quantity']).cumsum() / df['Total Traded Quantity'].fillna(0).cumsum()
data_vwap = df[['Month','Year','VWAP']]
grouped_data = data_vwap.groupby(['Month','Year'])
grouped_data.first()

                   VWAP
Month Year
1     2018  2533.725584
      2019  2373.843993
2     2018  2600.697196
      2019  2334.632663
3     2018  2645.170456
      2019  2311.505311
4     2018  2707.985286
      2019  2295.578918
5     2017  2365.100000
      2018  2813.097543
      2019  2284.017185
6     2017  2523.547721
      2018  2846.124167
7     2017  2495.933531
      2018  2673.427888
8     2017  2481.937788
      2018  2557.340020
9     2017  2484.754249
      2018  2518.901820
10    2017  2484.600494
      2018  2489.142016
11    2017  2493.068743
      2018  2437.989244
12    2017  2521.921881
      2018  2401.156253

In [19]:
df.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Year,Month,VWAP
0,TCS,EQ,2017-05-15,2360.65,2375.1,2377.95,2341.60,2368.00,2365.10,2352.60,908802,2.138043e+09,30047,712450,78.39,2017,5,2365.100000
1,TCS,EQ,2017-05-16,2365.10,2380.0,2435.00,2373.45,2425.10,2429.15,2410.26,1800513,4.339703e+09,58476,1167534,64.84,2017,5,2407.665319
2,TCS,EQ,2017-05-17,2429.15,2433.5,2460.75,2423.00,2450.00,2455.35,2443.31,1438099,3.513729e+09,86412,1031752,71.74,2017,5,2424.199789
3,TCS,EQ,2017-05-18,2455.35,2450.0,2572.00,2442.25,2525.00,2536.20,2525.78,2569297,6.489478e+09,111566,1135613,44.20,2017,5,2467.042455
4,TCS,EQ,2017-05-19,2536.20,2536.2,2540.55,2486.00,2503.85,2507.15,2506.58,893022,2.238430e+09,63112,517461,57.94,2017,5,2471.749180

In [20]:
def avPrice(n):
    x=(df['Average Price'].tail(n).sum()/n)
    return x
def profit_loss_percent(n):
    y=(df['Close Price'].iloc[494-n])
    z=(df['Close Price'].iloc[493])
    profit_loss=(z-y)
    if profit_loss <0:
        profit_loss= -(profit_loss)
    if profit_loss >0:
        profit_loss= (profit_loss)
    profit_loss_per= (profit_loss/z)*100
    return profit_loss_per
print("Average price ")
print("Avg price of 1 week is",avPrice(7))
print("Avg price of 2 week is",avPrice(14))
print("Avg price of 1 month is",avPrice(30))
print("Avg price of 3 month is",avPrice(90))
print("Avg price of 6 month is",avPrice(150))
print("Avg price of 1 year is",avPrice(365))
print(" Profit/Loss Percent")
print("Profit/Loss of 1 week is",profit_loss_percent(7))
print("Profit/Loss of 2 week is",profit_loss_percent(14))
print("Profit/Loss of 1 month is",profit_loss_percent(30))
print("Profit/Loss of 3 month is",profit_loss_percent(90))
print("Profit/Loss of 6 month is",profit_loss_percent(150))
print("Profit/Loss of 1 year is",profit_loss_percent(365))

Average price
Avg price of 1 week is 2155.881428571429
Avg price of 2 week is 2176.550714285714
Avg price of 1 month is 2109.878
Avg price of 3 month is 2015.2749999999996
Avg price of 6 month is 1987.9401333333335
Avg price of 1 year is 2345.4366575342465
 Profit/Loss Percent
Profit/Loss of 1 week is 0.15267175572519084
Profit/Loss of 2 week is 1.536112742219604
Profit/Loss of 1 month is 7.55607751027598
Profit/Loss of 3 month is 11.072225484439228
Profit/Loss of 6 month is 5.9565472695243775
Profit/Loss of 1 year is 27.177921315325904

In [21]:
 #1.6
df['Day_Perc_Change'] = df['Close Price'].pct_change().fillna(0)

In [22]:

df.head()

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Year,Month,VWAP,Day_Perc_Change
0,TCS,EQ,2017-05-15,2360.65,2375.1,2377.95,2341.60,2368.00,2365.10,2352.60,908802,2.138043e+09,30047,712450,78.39,2017,5,2365.100000,0.000000
1,TCS,EQ,2017-05-16,2365.10,2380.0,2435.00,2373.45,2425.10,2429.15,2410.26,1800513,4.339703e+09,58476,1167534,64.84,2017,5,2407.665319,0.027081
2,TCS,EQ,2017-05-17,2429.15,2433.5,2460.75,2423.00,2450.00,2455.35,2443.31,1438099,3.513729e+09,86412,1031752,71.74,2017,5,2424.199789,0.010786
3,TCS,EQ,2017-05-18,2455.35,2450.0,2572.00,2442.25,2525.00,2536.20,2525.78,2569297,6.489478e+09,111566,1135613,44.20,2017,5,2467.042455,0.032928
4,TCS,EQ,2017-05-19,2536.20,2536.2,2540.55,2486.00,2503.85,2507.15,2506.58,893022,2.238430e+09,63112,517461,57.94,2017,5,2471.749180,-0.011454

In [23]:
df.insert(df.shape[1], 'Trend', 'Slight')

In [24]:
# using .loc to update the value in the column
df.loc[df['Day_Perc_Change'].between(-0.005, -0.01, inclusive = True), 'Trend'] = 'Slight negative'

In [25]:
    
df.loc[df['Day_Perc_Change'].between(0.005, 0.01, inclusive = True), 'Trend'] = 'Slight positive'

In [26]:
df.loc[df['Day_Perc_Change'].between(-0.03, -0.01, inclusive = False),'Trend'] = 'Negative'

In [27]:
df.loc[df['Day_Perc_Change'].between(0.01, 0.03, inclusive = False),'Trend'] = 'Positive'

In [28]:
df.loc[df['Day_Perc_Change'].between(-0.07, -0.03, inclusive = True),'Trend'] = 'Top losers'

In [29]:

df.loc[df['Day_Perc_Change'].between(0.03, 0.07, inclusive = True),'Trend'] = 'Top gainers'

In [30]:
df.loc[df['Day_Perc_Change']<-0.07,'Trend']= 'Bear drop'

In [31]:

df.loc[df['Day_Perc_Change']>0.07,'Trend'] = 'Bull run'

In [32]:
df

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty,Year,Month,VWAP,Day_Perc_Change,Trend
0,TCS,EQ,2017-05-15,2360.65,2375.10,2377.95,2341.60,2368.00,2365.10,2352.60,908802,2.138043e+09,30047,712450,78.39,2017,5,2365.100000,0.000000,Slight
1,TCS,EQ,2017-05-16,2365.10,2380.00,2435.00,2373.45,2425.10,2429.15,2410.26,1800513,4.339703e+09,58476,1167534,64.84,2017,5,2407.665319,0.027081,Positive
2,TCS,EQ,2017-05-17,2429.15,2433.50,2460.75,2423.00,2450.00,2455.35,2443.31,1438099,3.513729e+09,86412,1031752,71.74,2017,5,2424.199789,0.010786,Positive
3,TCS,EQ,2017-05-18,2455.35,2450.00,2572.00,2442.25,2525.00,2536.20,2525.78,2569297,6.489478e+09,111566,1135613,44.20,2017,5,2467.042455,0.032928,Top gainers
4,TCS,EQ,2017-05-19,2536.20,2536.20,2540.55,2486.00,2503.85,2507.15,2506.58,893022,2.238430e+09,63112,517461,57.94,2017,5,2471.749180,-0.011454,Negative
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493,TCS,EQ,2019-05-07,2157.85,2160.05,2184.35,2138.80,2154.00,2151.95,2163.53,2201698,4.763441e+09,86096,975603,44.31,2019,5,2282.852775,-0.002734,Slight
494,TCS,EQ,2019-05-08,2151.95,2151.00,2168.00,2130.40,2156.00,2152.85,2151.85,1824895,3.926902e+09,77713,781526,42.83,2019,5,2282.628633,0.000418,Slight
495,TCS,EQ,2019-05-09,2152.85,2145.00,2184.10,2136.10,2171.20,2172.55,2166.98,2264162,4.906405e+09,106297,1251459,55.27,2019,5,2282.393661,0.009151,Slight positive
496,TCS,EQ,2019-05-10,2172.55,2175.00,2192.00,2125.85,2130.25,2135.80,2161.83,2039633,4.409349e+09,85446,873181,42.81,2019,5,2282.112317,-0.016916,Negative
497,TCS,EQ,2019-05-13,2135.80,2133.00,2167.00,2121.65,2134.00,2128.75,2143.87,1701744,3.648325e+09,74014,677242,39.80,2019,5,2281.867135,-0.003301,Slight

In [33]:
df.groupby('Trend')['Total Traded Quantity'].mean()

Trend
Bear drop          5.049371e+06
Negative           1.975849e+06
Positive           2.302947e+06
Slight             1.688261e+06
Slight positive    1.981558e+06
Top gainers        4.706883e+06
Top losers         7.492338e+06
Name: Total Traded Quantity, dtype: float64

In [34]:
df.groupby('Trend')['Total Traded Quantity'].median()

Trend
Bear drop          5049371
Negative           1742213
Positive           1910952
Slight             1469306
Slight positive    1762656
Top gainers        2954120
Top losers         4397518
Name: Total Traded Quantity, dtype: int64

In [35]:
df.to_csv("week2.csv")